/**
 * @name Nord
 * @version 1.0.0
 * @description 
 * 
 * @website https://github.com/Daggy1234/Nord
 */


:root {
    /* Color palette */
    --nord-primary: #000720;
    --nord-secondary: #1c2341;
    --nord-secondary-alt: #396cb335;
    --nord-tertiary: #000720;
    --nord-accent-color : #dadfe1;
    --nord-input-box: #396cb335;

    /* Scrollbar */
    --nord-scrollbar-track: var(--nord-primary);
    --nord-scrollbar-thumb: var(--nord-secondary);
}

.theme-dark {
    --background-primary: var(--nord-primary);
    --background-secondary: var(--nord-secondary);
    --background-secondary-alt: var(--nord-secondary-alt);
    --background-tertiary: var(--nord-tertiary);
    --background-accent: var(--background-primary);
    --header-primary: var(--nord-accent-color);
    --interactive-active: var(--nord-accent-color);
    /* Chat input box */
    --channeltextarea-background: var(--nord-input-box);
    --scrollbar-auto-thumb: var(--nord-secondary);
    --scrollbar-auto-track: var(--nord-primary);
}

/* People column */
.theme-dark .container-1D34oG { background-color: var(--background-primary); }

/* Modals */
.theme-dark .root-1gCeng { background-color: var(--background-primary); }
.theme-dark .footer-2gL1pp { background-color: var(--background-tertiary); }

/* Popup when you click a mention */
.theme-dark .headerNormal-T_seeN { background-color: var(--background-tertiary); }
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 { background-color: var(--background-secondary); }

/* Mention autocompletion in chat box */
.theme-dark .autocomplete-1vrmpx { background-color: var(--background-tertiary) }
.theme-dark .selected-1Tbx07 { background-color: var(--background-secondary); }

.theme-dark .item-2hkk8m {
    background-color: var(--header-primary);
}

/* Assets are all white*/
.theme-dark svg {
    color: #5c6b80;
}

/* Discord mentions*/
.theme-dark .mentioned-xhSam7:before {
    background-color: #6ba9ff;
}

.theme-dark .mentioned-xhSam7 {
    background-color: var(--nord-input-box);
}

/* Discord Codeblocks */
.theme-dark code {
    background-color: var(--nord-input-box);
}

.theme-dark .hljs {
    background-color: var(--nord-input-box);
}

/* Embeds with no explicit color set*/
.theme-dark .embed-IeVjo5 {
    border-color: var(--background-primary);
}

/* Do not Disturb Status*/
.theme-dark rect[mask="url(#svg-mask-status-dnd)"] {
    fill: #ff6c5c;
}
/* Mention Badge*/
.theme-dark .numberBadge-2s8kKX {
    background-color: #ff6c5c !important;
}
/* Search Modal */
.theme-dark .open-6_Y_aH {
    background-color: var(--background-secondary);
}

/* Quote */
.theme-dark .blockquoteContainer-U5TVEi {
    background-color: var(--background-secondary-alt);
    
}
